/* This file is for your main application css. */

body, html, .container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-element {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.schedule-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.schedule-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
    background: #ecf0f1;
    padding-left: 10px;
}


.is-pair {
    background: #bdc3c7;
}


.remaining-time {
} 

.line {
    font-weight: bold;
    margin-right: 30px;
}


.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: column;
}


.button {
    text-decoration: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background:#2ecc71;
    height:  100px;
}